{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "jest": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "ignoreComments": false
            }
        ],
        "arrow-body-style": "off",
        "no-else-return": "off",
        "import/prefer-default-export": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2020
    }
}