{
    "extends": [
        "airbnb-base",
        "plugin:jsdoc/recommended"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "ignoreComments": false
            }
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "comments": 120,
                "tabWidth": 4,
                "ignoreUrls": true,
                "ignoreTrailingComments": false,
                "ignoreComments": false
            }
        ],
        "curly": ["error", "all"],
        "brace-style": ["error", "1tbs", {
            "allowSingleLine": false
        }],
        "no-restricted-syntax": ["error",
            {
                "selector": "ForInStatement",
                "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
            },
            {
                "selector": "LabeledStatement",
                "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
            },
            {
                "selector": "WithStatement",
                "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
            }
        ],
        "no-continue": "off",
        "jsdoc/require-param-type": "off",
        "jsdoc/no-undefined-types": "off",
        "jsdoc/require-returns-type": "off",
        "jsdoc/require-param-description": "error",
        "jsdoc/require-property-description": "error",
        "jsdoc/require-returns-description": "error",
        "jsdoc/require-returns": "error",
        "jsdoc/require-param": "error",
        "jsdoc/require-returns-check": "error",
        "jsdoc/require-hyphen-before-param-description": ["error", "never"],
        "jsdoc/require-jsdoc": [
            "error",
            {
                "contexts": [
                    "ClassDeclaration",
                    "ClassProperty",
                    "PropertyDefinition",
                    "FunctionDeclaration",
                    "MethodDefinition"
                ]
            }
        ],
        "jsdoc/require-description": [
            "error",
            {
                "contexts": [
                    "ClassDeclaration",
                    "ClassProperty",
                    "PropertyDefinition",
                    "FunctionDeclaration",
                    "MethodDefinition"
                ]
            }
        ],
        "jsdoc/require-description-complete-sentence": [
            "error",
            {
                "abbreviations": [
                    "e.g.",
                    "i.e."
                ]
            }
        ],
        "jsdoc/multiline-blocks": [
            "error",
            {
                "noSingleLineBlocks": true
            }
        ],
        "jsdoc/tag-lines": [
            "error",
            "any",
            {
                "startLines": 1
            }
        ],
        "jsdoc/sort-tags": ["error", {
            "linesBetween": 1,
            "tagSequence": [
                { "tags": ["see"] },
                { "tags": ["param"] },
                { "tags": ["returns"] },
                { "tags": ["throws"] }
            ]
        }],
        "arrow-body-style": "off",
        "no-else-return": "off",
        "no-await-in-loop": "off",
        "import/prefer-default-export": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2020
    }
}
