name: Publish stats

env:
  NODE_VERSION: 22.14.0

on:
  schedule:
    - cron: "0 6 * * *"

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install package
        run: yarn install

      - name: Build package
        run: yarn build

      - name: Log time range
        run: |
          echo "Time range for stats collection:"
          echo "  SINCE: ${{ github.event.inputs.since }}"
          echo "  UNTIL: ${{ github.event.inputs.until }}"
          echo "  If SINCE or UNTIL are not specified, default values will be used:"
          echo "  e.g. for yesterday's 00:00:00 to 23:59:59"

      - name: Publish repo stats
        env:
          SLACK_OAUTH_TOKEN: ${{ secrets.SLACK_OAUTH_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SINCE: ${{ github.event.inputs.since }}
          UNTIL: ${{ github.event.inputs.until }}
          COLLECTION_PATH: ./stats-data
          REPO: AdguardTeam/AdguardFilters
        run: yarn run publish
  notify:
    needs: stats
    # Run this job only if the previous job failed
    # Note: 'always()' is needed to run the notify job even if the poll job was failed
    if: ${{ always() && needs.stats.result == 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack notification
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          fields: workflow, repo, message, commit, author, eventName, ref, job
          job_name: stats
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
